<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<!-- Author information -->
	<meta name="author" content="Amarja Palekar">
	<!-- Webpage description -->
	<meta name="description" content="App to process tone of an article using natural language processing">
	<meta name="keywords" content="Emotion Analysis, NLP, News Articles">

	<!-- Tag for responsive design -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Process Articles</title>
</head>

<body>
	<div class="main__page">

		<!--Header section of the main page-->
		<header class="main__header">
			<h1 class="main__heading">Analyze what you read</h1>
		</header>

		<!--Content section of the main page-->
		<main class="body__content">
			<section class="content__script">
				<div class="process__heading content__div">
					<h2 class="sub__heading">Sentiment analysis of your article</h2>
					<p>Analyse the sentiments in the article you are reading and understand the tone, attitude and opinion of it using NLP(Natural Language Programming).  Meaning Clouds's sentiment analysis API is used to perform the analysis.</p>
					<p> Enter the article you wish analyse below and detect its sentiments</p>
				</div>
			</section>
			<section id="artProcessor" class="article__processer">
				<div class="article__process__form content__div">
					<form class="article__form" onsubmit="return Client.submitForm(event)">
						<label for="artURL" class="sub__heading">Article to be processed:</label> <br>
						<input type="text" id="artURL" name="artURL" value="" placeholder="Please enter the URL here"> <br>
						<button id="artProcess" type="submit" class="btn submitBtn"
						 onclick="return Client.submitForm(event)" onsubmit="return Client.submitForm(event)">
							Analyse Article
						</button>
					</form>
				</div>
			</section>

			<section id="resultSection" class="analysis__result hide">
				<div class="resultDetail">
					<div class="error hide" id="errorResult1">
						<h2 class="sub__heading">Error Occured</h2>
						<p class="error__msg errColor" id="errorMsg1">
						</p>
					</div>
					<table class="result__table hide" id="resultTable">
						<caption class="sub__heading">
							Sentiment Analysis Result
						</caption>
						<thead class="result__table__head">
							<th class="result__table__heading">Sentiment</th>
							<th class="result__table__heading">Analytical findings</th>
						</thead>
						<tbody class="result__table__body" id="resultTableBody">
						</tbody>
					</table>
				</div>
			</section>
		</main>


		<footer>
			<section>
			<div class="copyrights content__div">
				<p class="copyrights__statement">&copy 2021 Designed & coded by Amarja Palekar</p>
			</div>
			</section>
		</footer>

	</div>

	<script>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
</body>
</html>