<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<!-- Author information -->
	<meta name="author" content="Amarja Palekar">
	<!-- Webpage description -->
	<meta name="description" content="App to process tone of an article using natural language processing">
	<meta name="keywords" content="Emotion Analysis, NLP, News Articles">

	<!-- Tag for responsive design -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- CSS Style Sheet -->
	<link rel="stylesheet" href="../css/style.css">

	<title>Process Articles</title>
	<!-- TODO: Add fevicon-->
	<!-- <link rel="fevicon" href=""> -->
</head>
<body>
	<div class="main__page">
		<!--Header section of the main page-->
		<header class="main__header">
			<h1 class="main__heading">Analyze what you read</h1>
		</header>

		<!--Content section of the main page-->
		<main class="body__content">
			<div id="artProcessor" class="article__processer">
				<div class="process__heading">
					<h2>Sentiment analysis of your article</h2>
					<!-- TODO: Add info about what sentiment analysis is and what to expect -->
					<p>Enter the article you wish analyse and detect its sentiments</p>
				</div>
				<div class="article__process__form">
					<!-- <form class="article__form" action="artProcess"> -->
					<form class="article__form">
						<label for="artURL">Article to be processed</label> <br>
						<input type="text" id="artURL" name="artURL" value="" placeholder="Please enter the URL here"> <br>
						<!-- <input class="btn SubmitBtn" type="submit" value="submit"> -->
						<button id="artProcess" type="submit" class="btn SubmitBtn">Analyse Article</button>
					</form>
				</div>
			</div>

			<div id="artResult" class="analysis__result">
				<h2>Results</h2>
				<p>Show results here</p>
				<div class="resultDetail" id="result1">
				</div>
			</div>
		</main>


		<footer>

		</footer>
	</div>
	<!-- JS for processing journal entries and log -->
	<script src="../js/index.js"></script>
</body>
</html>