
.main__page {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;

	header {
		min-height: 50px;
	}

	footer {
		min-height: 50px;
	}
}

.body__content {
	display: grid;
	grid-template-areas:
		"s1"
		"s2";
	grid-template-rows: 1fr 1fr;

	@include respond-screen-size("large") {
		grid-template-areas:
		"s1 s2";
		grid-template-columns: 1fr 1fr;
	}

	.article__processer {
		grid-area: s1;
	}

	.analysis__result {
		grid-area: s2;
	}
}


