.result__table {
	width: 75%;
	box-sizing: border-box;
	border-spacing: 0;


	&__head {
		border-top: 2px solid $attention-accent-color;
		border-bottom: 2px solid $attention-accent-color;
		background-color: $background-color-medium;

		th {
			text-align: center;
			padding: 0.8rem;
			border: 2px solid $primary-accent-color-light;
			border-top: 2px solid $attention-accent-color;
			border-bottom: 2px solid $attention-accent-color;
		}
	}

	&__body {
		tr {
			td {
				padding: 0 0.4rem 0 0;
				border: 2px solid $primary-accent-color-light;
			}
		}
	}
}