.result__table {
	width: 75%;
	box-sizing: border-box;
	border-spacing: 0;
	border-collapse: collapse;

	caption {
		text-align: left;
	}


	&__head {
		// border-top: 2px solid $attention-accent-color;
		// border-bottom: 2px solid $attention-accent-color;
		background-color: $background-color-medium;

		th {
			text-align: center;
			padding: 0.8rem;
			border: 2px solid $background-color-medium;
			border-top: 2px solid $attention-accent-color;
			border-bottom: 2px solid $attention-accent-color;
		}
	}

	&__body {
		tr {
			td {
				padding: 5px;
				border: 2px solid $background-color-medium;
			}
		}
	}
}