/*Get fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&family=Vollkorn:wght@600&display=swap');

/*COLOURS*/
$primary-accent-color-1: #204ecf;
$primary-accent-color-light: #e0e7fa;
$primary-accent-color-dark: #0b1b47;
$primary-accent-color-2: #183b9d;
$error-accent-color: #cf4020;
$success-accent-color: #20cfa0;
$attention-accent-color: #cf6c20;

$secondary-color: #000000;

$background-color-light: #ededef;
$background-color-medium: #657594;
$background-color-dark: #1d222b;


/*FONTS*/
/*font-sizes*/
$page-title-size: 2.5rem;
$regular-title-size: 1.5rem;
$regular-text-size: 1rem;
$footer-copyrights-size: 0.8rem;
/*font-family*/
$page-title-family: 'Vollkorn', serif;
$regular-title-family: 'Roboto', sans-serif;
$regular-text-family: 'Roboto', sans-serif;
$footer-text-family: 'Roboto', sans-serif;
$footer-copyrights-family: 'Roboto', sans-serif;

/*font-weight*/
$page-title-weight: 600;
$regular-title-weight: 700;
$regular-text-weight: 400;
$footer-text-weight: 300;
$footer-copyrights-weight: 100;

* {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03rem;
	/*color: var(--regular-text-color);*/
}