

/*COLOURS*/
$primary-accent-color-1: #204ecf;
$primary-accent-color-light: #e0e7fa;
$primary-accent-color-dark: #0b1b47;
$primary-accent-color-2: #183b9d;
$error-accent-color: #cf4020;
$success-accent-color: #20cfa0;
$attention-accent-color: #cf6c20;

$secondary-color: #000000;

$background-color-light: #ededef;
$background-color-medium: #657594;
$background-color-dark: #1d222b;