@import 'var4main';
@import 'tableStyles';
@import 'layouts';

body {
	background-color: $background-color-light;
	color: $primary-accent-color-dark;
	font-family: $regular-text-family;
	font-size: $regular-title-size;
	font-weight: $regular-text-weight;
	margin: 0;
}

header {
	width: 100vw;
	background-color: $background-color-medium;
	color: $primary-accent-color-dark;
	padding: 10px;

	.main__heading {
		font-family: $page-title-family;
		font-size: $page-title-size;
		font-weight: $page-title-weight;
		text-align: center
	}
}

section {
	   padding: 10px 0 15px 0;
}

.btn {
	background-color: $primary-accent-color-1;
	color: $primary-accent-color-light;
	border: none;
	text-decoration: none;
	cursor: pointer;
}

.hide {
	display: none;
}

.errColor {
	color: $error-accent-color;
}

.sub__heading {
	font-family: $regular-title-family;
	font-size: $regular-title-size;
	font-weight: $regular-title-weight;
	color: $primary-accent-color-1;
}

.body__content {

	width: 100vw;
	padding: 10px 0 0 10px;

	.process__heading {
		padding: 0 0 5px 0;
	}

	.article__process__form {
		.article__form {
			padding: 0 0 5px 0;
			input {
				width: 50vw;
				margin: 0 0 15px 0;
				padding: 5px;
				box-sizing: border-box;
				border: 2px solid $background-color-dark;
				background-color: $background-color-medium;
				color: $primary-accent-color-dark;

				&:focus {
					background-color: $background-color-dark;
					color: $primary-accent-color-light;
				}

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $primary-accent-color-light;
				opacity: 0.7; /* Firefox */
				border: none;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: $primary-accent-color-dark;
				opacity: 0.7;
				}

				&::-ms-input-placeholder { /* Microsoft Edge */
				color: $primary-accent-color-dark;
				opacity: 0.7;
				}
			}

			.submitBtn {
				width: 50vw;
				padding: 5px;
			}
		}
	}
}

footer {
	background-color: $background-color-medium;
	color: $primary-accent-color-dark;
    width: 100vw;
    bottom: 0;
}

.copyrights {
	&__statement {
		font-size: $footer-copyrights-size;
		font-weight: $footer-copyrights-weight;
	}
}
